@import "components/Counter/Counter.css";
@import "components/Footer/Footer.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BeyondTheMountains';
    src: local('BeyondTheMountains'), url(./assets/fonts/beyond_the_mountains/beyond_the_mountains.otf) format('woff');
}

.app-container {
    @apply bg-gray-dark;;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    @apply text-white;
    height: 100vh;
}
